<%- include("header") -%>

<header class="header">
  <h1><%= listTitle %></h1>
</header>

<div class="container">
  <% listItems.forEach((listItem) => { %>

  <form action="/delete" method="post">
    <div class="todo-item">
      <input type="hidden" name="listName" value="<%= listTitle %>" />
      <input type="checkbox" id="item-<%= listItem._id %>" name="itemId" value="<%= listItem._id %>" onchange="this.form.submit()" />
      

      <label for="item-<%= listItem._id %>">
        <span class="check"></span>
        <p><%= listItem.name %></p>
      </label>
    </div>

  </form>
  <% }) %>


  <form action="/" method="post" class="add-form">
    <input type="text" placeholder="Add new task..." name="newItem" autocomplete="off" />
    <button type="submit" class="add-btn" name="list" value="<%= listTitle %>">
      +
    </button>
  </form>
</div>

<%- include("footer") -%>